.projet-realiser-bloc {
  color: var(--darkFontColor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0px;
  gap: 50px;
}
.projet-realiser-bloc > .projet-realiser-item {
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}
.projet-realiser-bloc > .title-section {
  margin-bottom: 200px;
  text-align: center;
  font-size: 79px;
}

.projet-realiser-bloc > .projet-realiser-item > .projet-realiser-image {
  width: 900px;
  position: relative;
  right: 200px;
}
.projet-realiser-bloc > .projet-realiser-item > .projet-realiser-image img {
  width: 100%;
  height: 100%;
  scale: 1;
  z-index: 2;
}
.projet-realiser-description {
  position: relative;
  left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  background-color: transparent;
}

.projet-realiser-description h1 {
  font-size: 70px;
  background: var(--linearColor2);
  color: transparent;
  background-clip: text;
  width: max-content;
}
