/* @import "//src/assets/style/_mixStyle.css"; */

.slider-content-card {
  margin: auto;
  width: 80vw;
  height: max-content;
  margin-top: 100px;
  border-radius: 100px;
  margin-bottom: 400px;
  position: relative;
  cursor: grab;
}
.card {
  position: relative;
  cursor: grab;
}

.card-body {
  width: 100%;
  height: 400px;
  position: relative;
  cursor: pointer;
  background-position: center;
  cursor: grab;
}
.card img {
  width: 100%;
  height: 100%;
  z-index: -1;
}
.contenaire-texte {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.61);
}

.card h3,
.card p {
  position: absolute;
  bottom: 20px;
  color: #7f7f7f;
  cursor: pointer;
}
.card h3 {
  left: 10%;
  bottom: 5%;
}
.card p {
  left: 10%;
  bottom: -10%;
}

.card-body:hover h3 {
  transform: translateY(-30px);
  color: #ffffff;
  transition: transform ease-in-out 200ms;
  bottom: 10%;
}
.card-body:hover .contenaire-texte {
  background-color: rgba(0, 0, 0, 0.486);
  transition: all ease-in-out 1s;
}
.card-body:hover p {
  transition: all ease-in-out 200ms;
  transform: translateY(-20px);
  color: #ffffff;
  transition: all ease-in-out 600ms;

  bottom: 5%;
}
.card-body:hover {
  width: 700px;
  transition: all ease-in-out 600ms;
}

.hovered-component {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: white;
  z-index: 9999;
  transition: transform 150ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hovered-component p {
  transform: translateY(-50%);
  color: #160a34;
  position: relative;
  top: 10px;
  font-weight: 700;
}

.hovered-component.pressed {
  width: 40px;
  height: 40px;
  transition: all ease-in-out 100ms;
}
.triangle {
  transition: all ease-in 1s;
}

.triangle-1 {
  background-color: #ffffff;
  width: 30%;
  height: 30%;
  clip-path: polygon(100% 0, 0 54%, 100% 100%);
  transform: translateX(-300%);

  animation: Scaleelement alternate 500ms ease-in infinite;
}
.triangle-2 {
  background-color: #ffffff;
  width: 30%;
  height: 30%;
  clip-path: polygon(100% 55%, 0 0, 0 100%);
  transform: translateX(300%);

  animation: Scaleelement alternate 500ms ease-in infinite;
}
