*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--backgroundColor);
}

*,
p {
  font-family: var(--DefaultFont);
}
h1,
h2,
h3 {
  font-family: var(--TitleFont);
}
